# MySQL
QC_MYSQL_ROOT_PASSWORD=change_me
QC_MYSQL_PASSWORD=change_me

# RabbitMQ
QC_RABBITMQ_USER=change_me
QC_RABBITMQ_PASS=change_me

# API KEY
DASHSCOPE_API_KEY=change_me

# SMTP (Mail)
QC_SMTP_HOST=smtp.qq.com
QC_SMTP_PORT=465
QC_SMTP_USERNAME=change_me
QC_SMTP_PASSWORD=change_me
QC_SMTP_AUTH=true
QC_SMTP_SSL_ENABLE=true

# Ports
QC_BACKEND_PORT=18081
QC_FRONTEND_PORT=10081
